{% macro view_Controller(id, field, controller, subtypes) -%}
    {% if field %}<td>{{field.name}}</td><td>{% endif %}
    {%- if controller %}
    <table id = "{{id}}">
    {%- for f in controller.fields() -%}
    <tr>
    <tr>{{f | render_controller_value(f.type, 'view', id + '.' + f.name, controller[f.name]) or '<td>' + f.name + '</td><td> -- view for ' + f.type_str() + ' not implemented --</td>'}}</tr>
    </tr>
    {%- endfor %}
    </table>
    {%- if not field %}</td>{% endif %}
{%- endif %}
{%- endmacro %}

{% macro view_str(id, field, value, subtypes) -%}
<td>{{field.name}}</td>
{%- if value -%}
    <td>{{value}}</td>
{%- else -%}
    <td>-- no value --</td>
{% endif %}
{%- endmacro %}

{% macro view_int(id, field, value, subtypes) -%}
{{view_str(id, field, value, subtypes)}}
{%- endmacro %}

{% macro view_float(id, field, value, subtypes) -%}
{{view_str(id, field, value, subtypes)}}
{%- endmacro %}

{% macro view_bool(id, field, value, subtypes) -%}
<td>{{field.name}}</td><td>
{%- if value -%}
    <input type="checkbox" checked onclick="return false;" tabIndex="-1"/>
{%- else -%}
    <input type="checkbox" onclick="return false;" tabIndex="-1"/>
{%- endif -%}
</td>
{%- endmacro %}

{% macro view_Literal(id, field, value, subtypes) -%}
{{view_str(id, field, value, subtypes)}}
{%- endmacro %}

{% macro view_File(id, field, value, subtypes) -%}
{{view_str(id, field, value, subtypes)}}
{%- endmacro %}

{% macro view_Directory(id, field, value, subtypes) -%}
{{view_str(id, field, value, subtypes)}}
{%- endmacro %}

{% macro view_list_str(id, field, value, subtypes) -%}
<td>{{field.name}}</td>
{%- if value != undefined -%}
    <td><pre>{{'\n'.join(value)}}</pre></td>
{%- else -%}
    <td>-- no value --</td>
{% endif %}
{%- endmacro %}

{% macro view_list_int(id, field, value, subtypes) -%}
<td>{{field.name}}</td>
{%- if value != undefined -%}
    <td><pre>{{'\n'.join(map(str,value))}}</pre></td>
{%- else -%}
    <td>-- no value --</td>
{% endif %}
{%- endmacro %}

{% macro view_list_float(id, field, value, subtypes) -%}
{{view_list_int(id, field, value, subtypes)}}
{%- endmacro %}




{% macro edit_Controller(id, label, field, controller, subtypes) %}
    <fieldset class="controller
    {%- if id.count('.') > 1 %} collapsed{% endif %}" id="{{id}}">
    {% if label %}<legend onclick="this.parentElement.classList.toggle('collapsed');">{{label}}</legend>{% endif %}
    {%- if controller %}
    {%- for f in controller.fields() %}
    {%- set t, st = f.parse_type_str() %}
    {{f | render_controller_value(f.name, f.type, 'edit', id + '.' + f.name, controller[f.name]) or (('<span>-- edit for ' + f.type_str() + ' not implemented --</span>') | safe)}}
    <br>
    {%- endfor %}
    {%- else %}
    -- no value --
        {%- endif %}
    </fieldset>
{%- endmacro %}

{% macro edit_str(id, label, field, value, subtypes) -%}
    {% if label %}<label for="{{id}}">{{field.name}}</label>{% endif %}
    {%- if value == undefined -%}
    {%- set value='' -%}
    {%- endif %}
    <input id="{{id}}" type="text" value="{{value}}" onchange="update_controller_str(this)"/>
{%- endmacro %}


{% macro edit_int(id, label, field, value, subtypes) -%}
{{edit_str(id, label, field, value, subtypes)}}
{%- endmacro %}


{% macro edit_float(id, label, field, value, subtypes) -%}
{{edit_str(id, label, field, value, subtypes)}}
{%- endmacro %}


{% macro edit_bool(id, label, field, value, subtypes) -%}
    {% if label %}<label for="{{id}}">{{label}}</label>{% endif %}
    <input id="{{id}}" type="checkbox" {%- if value -%}checked{% endif %} onchange="update_controller_bool(this)"/>
{%- endmacro %}


{% macro edit_File(id, label, field, value, subtypes) -%}
    {% if label %}<label for="{{id}}">{{field.name}}</label>{% endif %}
    <button for="{{id}}" onclick="file_selector(this)">📁</button><input id="{{id}}" {% if value != undefined and value != '' %} value="{{value}}"{% endif %}/>
{%- endmacro %}


{% macro edit_Directory(id, label, field, value, subtypes) -%}
    {% if label %}<label for="{{id}}">{{field.name}}</label>{% endif %}
    <button for="{{id}}" onclick="directory_selector(this)">📁</button><input id="{{id}}" {% if value != undefined and value != '' %} value="{{value}}"{% endif %}/>
{%- endmacro %}


{% macro edit_Literal(id, label, field, value, subtypes) -%}
    {% if label %}<label for="{{id}}">{{label}}</label>{% endif %}
    <select id="{{id}}" onchange="update_controller_str(this)">
{%- for pv in subtypes %}
        <option value="{{pv}}"{% if pv==value %} selected{% endif %}>{{pv}}</option>
{%- endfor %}
    </select>
{%- endmacro %}

{% macro edit_list_str(id, label, field, value, subtypes) -%}
    {% if label %}<label for="{{id}}">{{label}}</label>{% endif %}
    {%- if value == undefined -%}
    {%- set value=[] -%}
    {%- endif %}
    <textarea id="{{id}}" onchange="update_controller_list_str(this)"/>{{'\n'.join(value)}}</textarea>
{%- endmacro %}

{% macro edit_list_int(id, label, field, value, subtypes) -%}
    {% if label %}<label for="{{id}}">{{label}}</label>{% endif %}
    {%- if value == undefined -%}
    {%- set value=[] -%}
    {%- endif %}
    <textarea id="{{id}}" onchange="update_controller_list_int(this)"/>{{'\n'.join(map(str,value))}}</textarea>
{%- endmacro %}

{% macro edit_list_float(id, label, field, value, subtypes) -%}
    {% if label %}<label for="{{id}}">{{label}}</label>{% endif %}
    {%- if value == undefined -%}
    {%- set value=[] -%}
    {%- endif %}
    <textarea id="{{id}}" onchange="update_controller_list_float(this)"/>{{'\n'.join(map(str,value))}}</textarea>
{%- endmacro %}


{% macro edit_generic_list(id, label, field, value, subtypes) -%}
    {%- if value == undefined -%}
    {%- set value=[] -%}
    {%- endif -%}
    <fieldset class="list
    {%- if id.count('.') > 1 %} collapsed{% endif %}" id="{{id}}">
    {% if label %}<legend onclick="this.parentElement.classList.toggle('collapsed');">{{label}}</legend>{% endif %}
    {%- for i in value %}
    {{i|safe}}
    <br>
    {%- endfor %}
    </fieldset>
{%- endmacro %}
